{
	"Environments": {
		"default": {
			"BaseImportPath": "github.com/bmatsuo",
			"User": {
				"Name": "Bryan Matsuo",
				"Email": "bryan.matsuo [at] gmail.com"
			},
			"License": "newbsd",
			"VersionControl": {
				"Type": "git",
				"Remote": {
					"Host": "github",
					"User": "bmatsuo"
				}
			}
		},
		"work": {
			"BaseImportPath": "github.com/bmatsuo1",
			"Inherits": [
				"default"
			],
			"User": {
				"Email": "bmatsuo [at] janrain.com"
			},
			"License": "none",
			"VersionControl": {
				"Remote": {
					"User": "bmatsuo1"
				}
			}
		}
	},
	"ExternalTemplates": [

	],
	"Projects": {
		"git": {
			"Hooks": {
				"Post": [
					{
						"Cwd": "{{.Project.Name}}",
						"Commands": [
							"git init",
							"git add .",
							"git commit -m '{{.Project.Name}} created {{date}} by gonew'"
						]
					}
				]
			}
		},
		"cmd": {
			"Inherits": [
				"git"
			],
			"Files": {
				"Git-Ignore": {
					"Path": "{{.Project.Name}}/.gitignore",
					"Type": "other",
					"Templates": [
						"other.gitignore.t2"
					]
				},
				"README": {
					"Path": "{{.Project.Name}}/README.md",
					"Type": "readme",
					"Templates": [
						"README.md.t2"
					]
				},
				"Main": {
					"Path": "{{.Project.Name}}/{{.Package}}.go",
					"Type": "go",
					"Templates": [
						"go.cmd.t2"
					]
				},
				"Options": {
					"Path": "{{.Project.Name}}/options.go",
					"Type": "go",
					"Templates": [
						"go.options.t2"
					]
				}
			}
		},
		"cmdtest": {
			"Inherits": [
				"cmd"
			],
			"Files": {
				"Test": {
					"Path": "{{.Project.Name}}/{{.Package}}_test.go",
					"Type": "go",
					"Templates": [
						"test.t2"
					]
				}
			}
		},
		"pkg": {
			"Inherits": [
				"git"
			],
			"Files": {
				"Git-Ignore": {
					"Path": "{{.Project.Name}}/.gitignore",
					"Type": "other",
					"Templates": [
						"other.gitignore.t2"
					]
				},
				"README": {
					"Path": "{{.Project.Name}}/README.md",
					"Type": "readme",
					"Templates": [
						"README.md.t2"
					]
				},
				"Main": {
					"Path": "{{.Project.Name}}/{{.Package}}.go",
					"Type": "go",
					"Templates": [
						"go.pkg.t2"
					]
				}
			}
		},
		"pkgtest": {
			"Inherits": [
				"pkg"
			],
			"Files": {
				"Test": {
					"Path": "{{.Project.Name}}/{{.Package}}_test.go",
					"Type": "go",
					"Templates": [
						"test.t2"
					]
				}
			}
		},
		"lib": {
			"Files": {
				"Main": {
					"Path": "{{.Project.Name}}.go",
					"Type": "go",
					"Templates": [
						"go.lib.t2"
					]
				}
			}
		},
		"libtest": {
			"Inherits": [
				"lib"
			],
			"Files": {
				"Test": {
					"Path": "{{.Project.Name}}_test.go",
					"Type": "go",
					"Templates": [
						"test.t2"
					]
				}
			}
		}
	}
}
